.container {
    height: auto !important;
}

.regForm .inputProfile {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    /* Changed from cover to contain */
    /* background-repeat: no-repeat; Ensure the image doesn't repeat */
    background-position: center;
    /* Center the image */
    border-radius: 5px;
    border: 1px solid #ccc;
    overflow: hidden;
    z-index: 1 !important;
}

.regForm .inputProfile button {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: rgba(207, 207, 207, 0.295);
    backdrop-filter: blur(5px);
    cursor: pointer;
}

.regForm .inputBox {
    justify-content: end !important;
}

.regForm .inputBox button {
    width: 100px !important;
    border-radius: 5px;
}

.regForm .inputBox {
    border-radius: 5px !important;
    overflow: hidden;
}

/* .seLeft {
    width: 70% !important;
} */