html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    padding: 0px;
}

/* Desktop Header */

.header {
    width: 100%;
    height: 75px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    position: fixed;
    top: 0px;
}

.header .h-left {
    height: 100%;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 10px;
}

.header .h-center {
    height: 100%;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .h-right {
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .h-left img {
    width: 120px;
}

.header .h-right nav {
    width: 100%;
    height: 100%;
    padding: 0px;
}

.header .h-right nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px;
    width: 100%;
    height: 100%;
    padding: 0px;
}

.header .h-right nav ul li {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    cursor: pointer;
}

.header .h-right nav ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 100%; */
    /* height: 30px; */
}

.header .h-right nav ul li a button {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
}

.profile-menu {
    border-radius: 100px;
    overflow: hidden;
    width: 35px !important;
    height: 35px !important;
    border: 2px solid #0078e8 !important;
}

.profile-menu img {
    width: 35px;
}

.header .h-center .search-bar {
    width: 70%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    overflow: hidden;
    border-radius: 20px;

}

.header .h-center .search-bar input {
    width: calc(100% - 70px);
    height: 100%;
    border: none;
    outline: none;
    padding-left: 10px;
}

.header .h-center .search-bar button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 100%;
    border: none;
    outline: none;
}

.active {
    fill: #0078e8;
}

/* Mobile Header Under 786px */

.header-mobile {
    display: none;
    width: 100%;
    height: 75px;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    position: fixed;
    top: 0px;
}

.header-mobile .h-left {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
}

.header-mobile .h-right {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-mobile .h-left button {
    width: 75px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
}

.header-mobile .h-left .logo img {
    width: 120px;
}

.header-mobile .h-right nav {
    width: 100%;
    margin: 0px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.header-mobile .h-right nav ul {
    width: 100%;
    margin: 0px;
    height: 100%;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: end;
}

.header-mobile .h-right nav ul li {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.header-mobile .h-right nav ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 100%; */
    /* height: 30px; */
}

.header-mobile .h-right nav ul li a button {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
}

/* Mobile Menu */

.mobileMenu {
    width: 80%;
    height: 100vh;
    background-color: #fff;
    position: fixed;
    top: 0px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #ccc;
}

.mobileMenu .menuTop {
    display: flex;
    width: 100%;
    height: 75px;
    border-bottom: 1px solid #ccc;
    align-items: center;
    justify-content: start;
}

.mobileMenu .menuTop button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 75px;
    border: none;
    background-color: transparent;
}

.mobileMenu .menuItems {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #ccc;
}

.mobileMenu .menuItems .menuItem {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 65px;
    align-items: center;
    justify-content: start;
}

.mobileMenu .menuItems .menuItem a {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 65px;
    align-items: center;
    justify-content: start;
    text-decoration: none;
    color: #000;
}

.mobileMenu .menuItems .menuItem button {
    height: 100%;
    width: 75px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.mobileMenu .menuItems .menuItem .active {
    color: #0078e8;
}

.mobileMenu .menuItems .menuItem span {
    font-family: sans-serif;
}

/* Responsive Control */

@media (min-width: 786px) {
    .mobileMenu {
        display: none;
    }
}

@media (max-width: 786px) {
    .header {
        display: none;
    }

    .header-mobile {
        display: flex;
    }
}

.hide {
    display: none !important;
}